@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);


@font-face {
    font-family: "Glyphicons Halflings";
    src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

@font-face
{
 font-family: HelveticaNeue-Bold;
 src: url('fonts/HelveticaNeue-Bold.eot');
 src: local('O'), url('fonts/HelveticaNeue-Bold.woff') format('woff'), url('fonts/HelveticaNeue-Bold.ttf') format('truetype'), url('fonts/HelveticaNeue-Bold.svg') format('svg'), url('fonts/HelveticaNeue-Bold.otf') format('otf');
 font-weight: normal;
 font-style: normal;
}


